
<div class="card text-center">
    <div class="card-header">
        @FullName
    </div>
    <div class="card-body">
        <h5 class="card-title">Address</h5>
        <p class="card-text">@Number</p>
        @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
    </div>
    <div class="card-footer text-muted">
        @LastVisitDay
    </div>
</div>
