<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
         <remove name="WebDAV" /> <!-- Allow the put and deleate calls from api-->
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <modules>
        <remove name="WebDAVModule"/> <!-- Allow the put and deleate calls from api-->
      </modules>
      <aspNetCore processPath="dotnet" arguments=".\WhoWasHere.Server.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 6d5814dc-4e80-4de0-b99a-5bfedf6e651a-->