@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">            
        </div>

        <div class="content px-4">
            @Body
            <BlazoredToasts Position="ToastPosition.TopRight"
                            Timeout="4"
                            IconType="IconType.FontAwesome"
                            SuccessClass="success-toast-override"
                            SuccessIcon="oi oi-check"
                            WarningIcon="oi oi-warning"
                            InfoIcon="oi oi-info"
                            ErrorIcon="oi oi-bug" />
            
        </div>
    </div>
</div>
