@page "/Registration"
@using WhoWasHere.Client.Pages.Inserctions;




    <div>

        <button class="btn btn-primary" type="submit" @onclick="@(e=> AddEmployee())"> Add</button>
    </div>
    <Inserction @ref="ins" CloseEventCallback="OnInserctionComplate"></Inserction>
@code
{ 

    [Parameter]
    public EventCallback<bool> RegistrationEventCallback
    {
        get;
        set;
    }



    public Inserction ins { get; set; }

    protected void AddEmployee()
    {
        ins.Show();

    }



    protected Task<bool> OnInserctionComplate()
    {

        RegistrationEventCallback.InvokeAsync(true);
        return Task.FromResult(true);
    }




}