@page "/customer_registry"

<h1>Customer registry</h1>




@* gestisco l'anagrafica clienti con chaimate API devo creare un oggetto cliente e una vista cliente
    
    
    
    
    
    *@


<WhoWasHere.Client.Pages.Customer.CustomerComponent    ></WhoWasHere.Client.Pages.Customer.CustomerComponent>

