@page "/"

@*<h1>Welcome to WhoWasHere</h1>
<br />*@

<h1>Appointments</h1>

<WhoWasHere.Client.Pages.DailyAppointment.DailyAppointmentsComponent></WhoWasHere.Client.Pages.DailyAppointment.DailyAppointmentsComponent>

