@page "/"

<h1>Welcome to WhoWasHere</h1>
<br />

<h3>Appointments</h3>

<WhoWasHere.Client.Pages.DailyAppointment.DailyAppointmentsComponent></WhoWasHere.Client.Pages.DailyAppointment.DailyAppointmentsComponent>

